<div class="container mt-5">
    <div class="question">
      <h3>{{text}}</h3>
      <div class="image-options">
        {{#each options}}
          <img src="{{url}}" alt="Option {{@index}}" class="img-thumbnail">
        {{/each}}
      </div>
    </div>
  </div>
  