<div class="container mt-5">
    <div class="question">
      <h3>{{text}}</h3>
      <ul>
        {{#each options}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  